[2022-10-19 15:36] jadecarino commented on #1194
Also, perhaps due to CPU limit on the new cluster, the build took 31 minutes before failing so is hard to make changes and run the pipeline to test, and get a quick feedback loop

[2022-10-19 15:45] jadecarino commented on #1213
@techcobweb @hobbit1983 @Jimbo4794

Same as with Wrapping, would be fab to get another set of eyes on this before we close the work item for the Gradle main build.

- The YAML for this pipeline can be found in the automation repo in pipelines/pipelines/gradle
- The Tekton build is here https://tekton.galasa.dev/#/namespaces/galasa-pipelines/pipelineruns/repo-gradle-main-gvbhv?pipelineTask=clone-au

[2022-10-19 15:46] jadecarino commented on #1214
@techcobweb @hobbit1983 @Jimbo4794

Same as with Wrapping, would be fab to get another set of eyes on this before we close the work item for the Maven main build.

- The YAML for this pipeline can be found in the automation repo in pipelines/pipelines/maven
- The Tekton build is here https://tekton.galasa.dev/#/namespaces/galasa-pipelines/pipelineruns/repo-maven-main-4z477?pipelineTask=clone-autom

[2022-10-19 17:52] techcobweb commented on #1213
Haven't had time to look very deeply...
Some things which jumped out...

- Docker files running as root ?
- Docker files FROM images don't specify the version/tag... so two builds of the same code could pick up different dependencies. Builds should be reproduceable by not relying on latest Alpine image for example...

We should eventually be scanning the images for security issues and the like, so

[2022-10-19 18:03] techcobweb commented on #1213
Pipeline and Task specs could do with some
`description:` tags to document what the parameters are expected to hold ?

Using something like this in the pipelinerun spec and pod specs will stop argocd pruning things and cleaning them up:
[code]

If we can do that, then we can turn the prune option on in argocd... which would be good.

[2022-10-19 18:15] techcobweb commented on #1213
Git cloning depth always being set to "99999999" will take far longer than 'leaner' commits.
We probs only need smaller depth of 50, so we can see the last 50 commits in the checked-out code ? - Again, it's an optimisation which can be done later.

Similarly, there is no need to clone every branch in the repos... are we doing that ?

[2022-10-19 18:21] techcobweb commented on #1213
Seems that we always use the head of the automation repo.
Would make builds more reproduceable if the automation stuff was built separately and versioned, and pulled-down as a versioned jar or zip ?
Think this is a wider question than this one PR...

[2022-10-19 18:28] techcobweb commented on #1213
This is a problem maybe... maybe I don't know what the events look like...
[code]

We should be getting the revision and refspec from a parameter on the webhook...
Not hard-coding it to build the head...

Two merges to main would potentially build the same branch code level... despite the web hook events passing a more specific level of the repo we should be building ?

We can use bindings and tem

[2022-10-19 18:29] techcobweb commented on #1213
`- name: statusesUrl` and `- name: issueUrl` The names aren't consistent with how other things are named... eg: `statuses-url` and `issue-url` ? Many more like this ?

[2022-10-19 18:36] techcobweb commented on #1213
Seems that if the repo name is passed-in as a parameter to the pipelines, then many of the pipelines can look far more similar...
[code]
could be using (params.repo-name) or something so the same stuff could appear in all these pipelines. The docker files of lots of the pipelines are also in the same place in the automation.

Why are docker files not help within the repo being built ?
Holding them

[2022-10-19 18:50] techcobweb commented on #1213
If we must clone two repos, these could be done in parallel ? Rather than in series which they are done in today ?

[2022-10-20 11:05] jadecarino commented on #1213
Hi Mike, thank you for these comments, really helpful. I have some responses below and it would be good to speak about some points mentioned:

- I am not sure what you mean about Dockerfiles running as root, so would be good to speak to you about what that means?

- I hadn't thought about the Dockerfile FROM perhaps not always being the same if using the latest tag, I think this is only when we sa

[2022-10-20 12:52] techcobweb commented on #1213
Docker images running as root: Gives extra privileges to anything running. See
https://sysdig.com/blog/dockerfile-best-practices/

[2022-10-20 12:53] techcobweb commented on #1213
Are we doing it in .md files very close to the pipeline files (please) ? Or better still in comments within the pipelines being documented ?

[2022-10-20 13:01] techcobweb commented on #1213
Should the automation code be gathered into a jar, and versioned ? So we know the version of automation which built each docker image, and can go back and build like we did at a specific version of the automation ? I would guess this is a real pain all the time it's being developed, but ultimately we are picking up the latest automation code which isn't versioned too.

[2022-10-20 13:05] techcobweb commented on #1213
Thinking that it might have been better to start with one, and split them out when they diverged. If you update one right now, you have to update loads of them just to enact a simple change. Agile... do the simple thing until you are forced to do something more complex ?

[2022-10-20 13:08] techcobweb commented on #1213
I doubt any of the repos are big enough for it to make much of a difference yet, but over time...

[2022-10-20 18:55] jadecarino opened #1223 "Optimise build pipelines: add argoCD options to stop pruning of resources"
We should add some argocd options to the specs for certain resources used in the Pipelines so that argocd doesn't prune them as default. Pruning can then be turned on in argocd itself.

[code]

[2022-10-20 18:58] jadecarino opened #1224 "Optimise build pipelines: change git clone task settings to make step in pipeline quicker"
When doing a git clone in a Pipeline, the depth is currently always set to "99999999" which will take longer. We should change to a smaller depth, which can be decided.

We should also clone just the branch we are interested in instead of all branches.

[2022-10-20 19:07] jadecarino commented on #1213
Our internal developer docs we are writing are going to be in GHE, so no unfortunately not near to the pipelines. I think adding comments into the pipelines (not all of them, just some, as you've noticed they all do similar things) would be a good idea.

[2022-10-20 19:13] jadecarino commented on #1213
This is a good point - however it might involve a few if statements here and there, as the build directories for the repositories are different. For example, the Wrapping and Gradle builds are sort of single layered, the build happens in 'wrapping' and 'gradle'. Maven and onwards have another layer to them, so the build dir for Maven is maven/galasa-maven-plugin, Framework is framework/galasa-pare

[2022-10-20 19:17] jadecarino opened #1225 "Optimise build pipelines: use specific tag of versions so docker images consistently depend on same base image versions"
## Story
As a user of galasa, I want all the galasa docker images to use the same base image so that together they all take up less memory when deployed to the same node.

## Background
Currently we don't specify which alpine base image is used.

We should be specific and consistent.

## Tasks
- [ ] Change all the references to alpine to contain a tag indicating which version of alpine we are usin

[2022-10-20 19:20] jadecarino opened #1226 "Optimise build pipelines: stop Dockerfiles running as root and specify user"
We should define a user with which the code can run within the docker image.

https://sysdig.com/blog/dockerfile-best-practices/

[2022-10-21 11:21] jadecarino opened #1227 "Optimise build pipelines: add version of 'automation' repo used for build"
We should add some sort of versioning for which version of the 'automation' repo was used in a build, in case we need to reproduce that build in future. Not sure of how many use cases there are for this in Galasa, other than if fixing vulnerabilities and something breaks, therefore need to recreate a previous build, but there may be more.

This could be done by adding the githash for 'automation'

[2022-10-21 11:23] jadecarino opened #1228 "Enhance build pipelines: Support building of branches beyond the 'main' branch."
## Story
As a galasa developer I want to be able to run a build and deployment on a branch of a repository so that I can use the built artifacts.

## Background
This may be due to a need to re-build an older patched branch, eg: The log4j issue which came up recently. We would probably have to re-build and re-version all our previous releases with the fix-patch as soon as we could, else force every

[2022-10-21 14:13] techcobweb opened #1229 "Docs: Improved example code snippet for reading a file from HTTP client."
## Story
As a galasa testcase programmer reading the docs, I want to see example code which is best-practice in the galasa documentation, so that I can copy-paste the code into my codebase knowing that it will work.

## Background
The current docs show this as the code example:
[code]
There are a few things to say about this code:
- The response is never closed if there is an exception. eg: Say th

[2022-10-21 14:22] techcobweb opened #1230 "Docs improvement: Better example snippet - reading file from Http manager."
## Story
As a galasa testcase programmer reading the docs, I want to see example code which is best-practice in the galasa documentation, so that I can copy-paste the code into my codebase knowing that it will work.

## Background
The current docs show this as the code example:
[code]
There are a few things to say about this code:
- The response is never closed if there is an exception. eg: Say th

[2022-10-21 14:22] jadecarino commented on #1212
Currently working on internal docs for this

[2022-10-21 14:22] techcobweb opened #1231 "Docs: Improved example code snippet for reading a file from HTTP client."
## Story
As a galasa testcase programmer reading the docs, I want to see example code which is best-practice in the galasa documentation, so that I can copy-paste the code into my codebase knowing that it will work.

## Background
The current docs show this as the code example:
[code]
There are a few things to say about this code:
- The response is never closed if there is an exception. eg: Say th

[2022-10-21 14:22] jadecarino commented on #1213
Currently writing internal docs for this build pipeline

[2022-10-21 14:22] #1231 closed

[2022-10-21 14:22] jadecarino commented on #1214
Currently writing internal docs for this build pipeline

[2022-10-21 16:06] techcobweb opened #1232 "Quality: Build Verification Test : Verify that Galasa builds actually work"
## Story
As a galasa dev engineer, I want to know that a build of galasa works, so I know my current story is delivered and can be marked as complete.

## Background
There is currently no way of testing that a new build is working, or that a delivered change has degraded the Galasa code at all.

Ironically perhaps, we need to create a BVT for Galasa.

This should be done for every build of main (i

[2022-10-21 16:09] #1230 closed

[2022-10-24 07:38] techcobweb commented on #1120
I don't understand this Epic. What stories are included as part of it ?

- Are we aiming to have an automated releasing pipeline we can kick off, and it does everything ?
- How is a release tested ?

[2022-10-24 07:46] #1232 closed

[2022-10-24 10:57] jadecarino commented on #1211
galasabld image builds successfully in a pipeline and is now pushed to harbor: https://harbor.galasa.dev/harbor/projects/3/repositories/galasabld/artifacts-tab
The image will need to go through some sort of Build Verification Test and will have to be documented before closing this off.

[2022-10-24 14:38] jadecarino opened #1233 "Upgrade version of external Kubernetes cluster - by 14th December"
## Story
As a member of the galasa dev team I want the cluster to be up to date so that our external cluster remains, and the services we run on it remain supported.

## Tasks
- [x] Research what is involved between v22 and v23 in api changes
  - And does it effect us
- [x] Upgrade cluster
- [x] Check everything healthy

[2022-10-24 14:39] jadecarino commented on #1233
**Must be done by 14th December**

[2022-10-24 15:30] jadecarino opened #1234 "Investigate the speed of our Kubernetes cluster"
When running the Framework PR build, I noticed that the pipeline ran awfully slow, at it's quickest it ran (and failed) in 30 minutes, and at its longest it reaches a PipelineRunTimeout after 1 hour.

We need to investigate why the external cluster is so slow and how we can remediate this, as getting another node is the least preferable option.

- Investigate if there are any unnecessary services

[2022-10-25 07:37] techcobweb opened #1235 "Exception panic from galasactl - bootstrap loading failure."
Command was :
[code]

Which caused an exception rather than a nicely formatted error message explaining what's wrong:

[code]

From the exception it seems that the loadBootStrap() failed, but it should be a nice (internationalised) message which appears in front of the user.

[code]

`http://galasa-test.cics-ts.hur.hdclab.intranet.ibm.com:8080/bootstrap` resolves OK in my browser to:
[code]

When

[2022-10-25 09:01] techcobweb opened #1236 "CLI improvement : List valid streams when specified stream not found"
## Story
As a command line user, when I do a `runs prepare` action and specify a stream which doesn't exist, then I want to receive an error message which lists the streams I could have validly specified, so I can correct my mistake and carry on without having to try to remember or look-up what stream names are valid.

## Background
This story is to improve the usablility of the command line tool,

[2022-10-26 23:09] techcobweb opened #1237 "Docs : Users need to know which version of kube operator to run with which version of galasa core images"
## Story
As a deployer of a Kubernetes galasa system, I want to understand and select the version of the galasa Kube operator which is compatible with version ${X} of galasa, so that I have a chance of getting my install to work.

## Background

Aaron Jhaj:

Michael Cobbett:

The <GALASA_VERSION> is mentioned, not the <GALASA_OPERATOR_VERSION>

William Yates:

## Tasks
- [ ] Re-work everything at

[2022-10-27 10:17] techcobweb opened #1238 "OBR Build should be possible on a dev laptop."
## Story
As a galasa developer I want to clone the OBR repo and build it, without having to download and build any other repositories, so I can practice shift-left, and find bugs/issues earlier.

## Background
The OBR repo cannot be build currently unless other repositories are also cloned as sibling projects on the local disk.
Gradle should be used to get the artifacts which the OBR build depends

[2022-10-27 10:42] techcobweb commented on #1149
Taking the liberty of re-sizing the story points because
- I've not done anything with Go before, so need to learn how to build/package/handle dependencies.
- I've not done gradle before, so need to learn that.
- I've not done anything with the galasa build pipeline stuff before, so need to learn that.
We can re-visit the sizing if we wish in a team grooming session or the sprint planning next wee

[2022-10-27 10:56] jadecarino opened #1239 "Finish development of github-verify program"
github-verify requires:
- Proper error handling
- Switch case handling for different pull request actions to be finished

[2022-10-27 10:57] techcobweb opened #1240 "Mechanism for relaying events from GitHub into a Tekton event listener inside the IBM firewall."
## Story
As a developer of the galasa build process, I want events which occur on external github galasa repositories (like PR create, close, branch push...etc) to be relayed into a Tekton event listener running within the IBM firewall, such that the event listener can't tell that it isn't github posting the webhook events directly, so the build process can react to events on github.

## Backgroun

[2022-10-27 11:09] jadecarino commented on #1212
Documentation for this Pipeline has been published: https://github.com/galasa-dev/automation/blob/main/README.md
Closing this item as done now, with a view to refine in future (optimisation work in separate work items).

[2022-10-27 11:09] #1212 closed

[2022-10-27 11:09] jadecarino commented on #1213
Documentation for this Pipeline has been published: https://github.com/galasa-dev/automation/blob/main/README.md
Closing this item as done now, with a view to refine in future (optimisation work in separate work items).

[2022-10-27 11:09] #1213 closed

[2022-10-27 11:09] jadecarino commented on #1214
Documentation for this Pipeline has been published: https://github.com/galasa-dev/automation/blob/main/README.md
Closing this item as done now, with a view to refine in future (optimisation work in separate work items).

[2022-10-27 11:09] #1214 closed

[2022-10-27 11:19] jadecarino commented on #1215
https://github.com/galasa-dev/projectmanagement/issues/1234 - blocked as cannot run this pipeline due to it timing out.

[2022-10-27 11:20] jadecarino commented on #1216
YAML for this pipeline is written, however blocked from running it as the Framework pipeline needs to have ran first so that the galasa-framework:main image is in harbor, and Framework pipeline blocked: https://github.com/galasa-dev/projectmanagement/issues/1234

[2022-10-27 11:21] jadecarino commented on #1211
Aaron has created a Dockerfile and pipeline to build a 'galasabld' image to allow us to use the galasabld CLI in pipelines. All seems okay on the surface, but would like to have used the image within a pipeline before closing this off as done.

[2022-10-27 11:22] jadecarino commented on #1217
YAML for this pipeline is written, but unable to run it until Framework and Extensions have been ran. Also would need the issue with the cluster speed to be solved as Managers pipeline would take far too long: https://github.com/galasa-dev/projectmanagement/issues/1234

[2022-10-27 11:26] jadecarino commented on #1194
Blocked as cannot run this pipeline without it timing out: https://github.com/galasa-dev/projectmanagement/issues/1234

[2022-10-27 11:27] jadecarino commented on #1195
Blocked as unable run until Framework pipeline is unblocked: https://github.com/galasa-dev/projectmanagement/issues/1234

[2022-10-27 11:28] jadecarino commented on #1196
Blocked as cannot run until Pipelines earlier in the chain are unblocked: https://github.com/galasa-dev/projectmanagement/issues/1234

[2022-10-31 11:13] jadecarino opened #1241 "Investigate how to clear the RAS on CouchDB without having to scale down galasa-prod"
Currently, if the RAS gets full, we need to scale down galasa-prod to delete the PVC for the RAS, then scale back up galasa-prod. This is quite a destructive way of clearing data. We need to find a better way of doing this.

While important, this item isn't extremely urgent as it will take several months for the RAS to become full again, at the current amount of tests we are running.

[2022-10-31 11:14] jadecarino commented on #1234
We are going to move the builds back on to the old cluster for now. This item of work can be put on hold until a time in future if we wanted to put the builds on to the new external cluster.

[2022-10-31 11:17] jadecarino commented on #1211
Need to investigate what the different between these images are and why/where they are all used, as the build for galasabld potentially needs to build all of these if they are still needed.
- galasa-build
- galasa-bld-binary
- galasa-bld-amd64
- galasa-bld-ibm-amd64

[2022-10-31 15:13] jadecarino opened #1242 "Change all integration tests to use SEM provisioning instead of DSE"
Some of our integration tests that use a CICS Region are using Will's Region as a developer supplied environment, instead of using SEM to provision a new CICS Region per test. This means that when Will's CICS Region is down for whatever reason, the tests that use it fail. We should change all tests that use CICS Regions to use SEM.

[2022-10-31 15:40] techcobweb opened #1243 "Internal developer docs - instructions on how to build Galasa code locally - totally missing everywhere"
## Story
As a galasa developer, I want to be able to build each repo locally, so I can run unit tests which may (or may not) exist in each repo, find bugs earlier, and generally understand what the official build process is doing.

## Background
For the CLI repo, and all the others, it's not obvious how to build things.

## Tasks
- [x] Add a build-locally.sh into the root of each repo, and mention

[2022-10-31 16:38] jadecarino opened #1244 "Migrate build pipelines from the external to internal cluster"
## Story
As a galasa developer I want to have builds run off the internal Kube cluster, so that they are fast and reliable and cheap for the department.

## Background
We need to migrate the build pipelines back to the internal cluster from the external cluster, due to the external cluster's speed (or lack thereof).

Aaron and I have put together the build pipelines and the necessary tasks for the

[2022-10-31 17:56] techcobweb opened #1245 "Upgrade galasa build to use up-to-date level of gradle tool."
## Story
As a galasa developer I want to build using the latest level of Gradle, such that there are no warnings, so that I know the build isn't using deprecated features which are just about to disappear, and no technical debt exists in this area.

## Background
- Our build uses gradle 6.x
- Some v6.x features are removed in v7.
- We use one feature in our build which has been removed in v7, in s

[2022-10-31 20:11] techcobweb opened #1246 "HTTPS signing authority (IBM internal root) certificate needs updating."
## Story
As a galasa developer I want the HTTPS signed public .pem certificate used by the build process to match the latest certificate available from IBM, so we know it has less chance of getting out of date and locking developers/build processes out of HTTPS endpoints.

## Background
- Galasa build process relies upon some things which are served-up as artifacts on maven sites.
- Those sites ar

[2022-11-01 10:41] jadecarino commented on #1235
I too get an error loading the bootstrap, however only when running a built binary of galasactl.
FYI - I use a different bootstrap: http://galasa-cicsk8s.hursley.ibm.com/bootstrap

When running galasactl using 'go run', everything is okay:
`jadecarino in ~/Desktop/Galasa/other/cli on branch main > go run cmd/galasactl/main.go runs prepare --portfolio test.yaml --bootstrap http://galasa-cicsk8s.hur

[2022-11-01 10:52] jasonrhughes opened #1247 "SSL_TLSv2 SSLContext not available : can't use zOSMF or RSE"
Galasa 0.24.0 plugins installed
Eclipse 2022-06 (also 2019-09)
java version "11.0.16.1" 2022-08-12
IBM Semeru Runtime Certified Edition 11.0.16.1 (build 11.0.16.1+1)

Whenever an attempt is made to use **IZosFileHandler** the test fails because it can't get a z/OSMF instance (or RSE server, as I've tried that too), and that's because

`Caused by: java.security.NoSuchAlgorithmException: SSL_TLSv2 S

[2022-11-01 10:56] jasonrhughes commented on #1247
I've blanked out the z/OS image name below; tried two different systems with same results.

[code]

[2022-11-01 11:21] techcobweb opened #1248 "Verify that 3270 streams support colours."
## Story
As a galasa user, I want 3270 streams from applications my test code uses to contain colour, so that my tests can validate that the application is using the correct colours.

## Background
This issue was done in haste: https://github.com/galasa-dev/projectmanagement/issues/990

We need to prove that the new API works as described in the issue above.
So that it provides colour to the 3270

[2022-11-01 11:26] techcobweb commented on #1247
This 'could' (but probably isn't) related ? https://github.com/galasa-dev/projectmanagement/issues/1246

[2022-11-01 11:48] jasonrhughes commented on #1247
SSL_TLSv2 is a valid context in IBM J8 but is not in IBM J11. We get the problem because HttpClientImpl still expects it to be valid and wants to use it (only) if it's IBM Java.
I've just checked and openjdk14 also doesn't have SSL_TLSv2 as an available context, so it doesn't appear to be an omission specifically in IBM's Java. It seems the `if (ibmJdk)...` statements in HttpClientImpl need to be

[2022-11-01 14:55] techcobweb commented on #1241
Sounds like we need a job which periodically 'prunes' the RAS content. Either by directly interacting with couchDB, or via an interface which removes older content based on the date ?

[2022-11-01 15:03] techcobweb commented on #1234
We came to a conclusion on this one, so closing this item.

[2022-11-01 15:04] #1234 closed

[2022-11-01 15:33] techcobweb commented on #1247
We should try with a few JDKs and try with logging enabled.
This might be something @KirbyKatcher could look at ? Lets discuss with him when he's back.

[2022-11-01 15:59] techcobweb commented on #1245
would be good to get local builds working first.

[2022-11-01 16:18] techcobweb commented on #1233
I guess we will still be hosting some deployments on this cluster, so still have to do this, even if the majority of the working build has migrated to the internal cluster ?

[2022-11-01 17:06] techcobweb opened #1249 "Technical Debt: Clean up garbage javadoc warnings in framework/managers build."
## Story
As a galasa developer I want to be able to build the framework and manager component without seeing a ton of warnings which may hide a more important error amongst the garbage, so I can be sure the code is good before submitting it.

## Background
Run a local build on the framework component:

[code]

The same happens in these repositories:
- Managers
- Framework

There is an issue with g

[2022-11-03 10:32] jadecarino commented on #1244
Yesterday I manually moved all Secrets to Vault from the IBM Secrets Manager. We need a Secrets Manager Operator set up to configure the internal cluster to use Vault. James has raised an issue for Mike Baylis to do this.

Build tasks for the Github Monitor have been added to the main-automation pipeline, and I am trying to run it manually using a PipelineRun to get that image built and pushed to

[2022-11-03 11:02] jadecarino commented on #1244
Github monitor image pushed to harbor

[2022-11-03 14:12] techcobweb opened #1250 "Technical Debt: Unit test failures in 'extensions' component when building locally"
Doing a local build, there are unit test failures in the extensions component.

- Why weren't these unit test failures picked up by the build ?
  - They should stop the main/pr build in its tracks.

[code]

[2022-11-04 14:52] CaroMac opened #1251 "Add troubleshooting for mismatch of versions and the security folder"
https://galasa.slack.com/archives/C013FE51SAD/p1666597364464959

If JAVA_HOME user variable for "my account" is pointing to a java 8, replace the JAVA_HOME with the -vm java 11 from the eclipse.ini file of the eclipse into which galasa is plugged.

See the Galasa Slack channel for more info via link above

[2022-11-07 13:10] techcobweb opened #1252 "CLI tool should be internationalised"
## Story
As a galasa command-line tool user, I want to be able to received error messages in my own language, so I can understand what to do to correct the situation.

## Background
The CLI tool `galasactl` does not internationalise any of its error output strings.

I imagine that this won't be one of our highest priorities for now.

## Tasks
- [ ] Gather the strings into string templates in a mes

[2022-11-07 14:09] techcobweb opened #1253 "CLI tool should not output logging unless asked to."
## Story
As a user of the galasactl CLI tool I want to invoke the tool and not see the logging by default, and see it when I opt-in to see it, so that I have more control over what the tool outputs.

## Background
The `galasactl` tool outputs logging (to stderr or stdout) which it should only do if some command-line option is used.
eg: --log -

This makes any script have verbose output, when you m

[2022-11-07 14:24] techcobweb opened #1254 "CLI project should be built using Gradle"
## Story
As a galasa developer, I want to build the CLI project using gradle so that it's easy to build, and the build process can use the same steps that I am using locally in order to build the tool, so that building is easier, and I can trust my local build throws up the same results as the remote build.

## Background
There are several reasons why I think we should be building the CLI using Gr

[2022-11-07 15:38] techcobweb opened #1255 "Code coverage metrics report needs creating and publishing for each build component"
## Story
As a client looking to see if Galasa is ready for adoption, I want to see that the galasa code coverage is substantial, so that I have confidence in the galasa code, and it's not a blocker for my adoption.

## Background
- We had some unit tests at some point, and spent some time in the past looking at gathering Jacoco reports.
- Junit tests were discontinued for some reason. Taking too l

[2022-11-07 16:08] #1236 closed

[2022-11-08 09:10] techcobweb opened #1256 "Technical Debt: Managers tidy-up"
A few garbage files have been checked-in.
Is it safe to remove them now ?

code/external/galasa-dev/testapp

[2022-11-08 13:43] techcobweb opened #1257 "Javadoc : @author tags should be stripped/not used."
## Story
As a galasa developer I don't want to see `@author` tags in the source code, so that the javadoc output isn't cluttered with such information, and so the javadoc can be re-shipped in IBM documentation.

## Background
- Git blame can tell you who wrote something very easily, with more granularity than the @author tagging can.
- @author tags clutter up javadoc
- IBM guidelines say we should

[2022-11-08 14:55] techcobweb commented on #754
@hobbit1983 tells me that this is exactly what DB2 folks were asking for 'the other day' when they were trying to understand what the rest API looks like.

[2022-11-08 16:12] techcobweb commented on #1243
Now have several repositories with build-locally.sh scripts to demonstrate the building of each repo.
Allows us to run unit tests without submitting code to a pull request for official building.

[2022-11-09 10:05] techcobweb commented on #1243
OBR should be in-scope for this. Then it can all be run locally without first deploying it to docker or kube.

[2022-11-09 10:30] techcobweb opened #1258 "New External Functionality : Execute a galasa test using `galasactl` - without installing DockerOperator or Ecosystem."
## Story
As a product tester trying to use galasa to write tests, I want to execute a test from the command-line without installing galasa in either a DockerOperator or Ecosystem environment, so that it's easier to get started, and easier to create initial simple automation.

## Background
Currently you can do this with syntax like this: (please correct if I'm wrong)
[code]
It would be far easier

[2022-11-09 10:35] techcobweb opened #1259 "Technical Debt: Wrapping project should use Gradle instead of Maven"
## Story
As a galasa developer, I want to be able to build all the source projects using the same build tool (gradle), so that I don't need to install others (maven), update versions, and have fewer moving parts in our overall build system.

## Background
The wrapping project uses maven.

What's stopping it being converted to being a gradle project ?

We should be consistent so we only need one bu

[2022-11-09 10:42] techcobweb opened #1260 "OBR project build should use Gradle instead of Maven"
## Story
As a galasa developer I want to build the OBR project using gradle instead of maven, so we have consistency across all of the projects in the choice of build orchestration tooling, I have fewer tools to use/install/understand, and there is less to go wrong in our builds.

## Background
- The OBR project uses a custom maven plugin (what does it do?) which was never ported to gradle.

## Ta

[2022-11-09 10:43] techcobweb commented on #1260
@Jimbo4794 Is there any meat you'd like to add to this story ?

[2022-11-09 10:44] techcobweb commented on #1259
@Jimbo4794 Is there any meat you'd. like to add to this story ?

[2022-11-09 10:46] hobbit1983 commented on #1258
One thing we would have to consider is that in all the documentation and samples we do not talk about creating an OBR project and instead rely on the workspace OBR that is generated automatically by the galasa launcher in eclipse.  so to support galasactl doing this we would also need to provide/discuss obr projects in the doc

[2022-11-09 11:11] techcobweb opened #1261 "CLI should be able to create a blank project structure with an OBR laid out on the file system"
## Story
As a galasa user trying to build a test suite, I want to use a command-line tool to create a blank project structure with an OBR laid out on the file system

## Background
- Similar to creating an archetype.
- Parameters could form tokens to inject into the project.
- Could work with maven or gradle. Could create both, one or the other ?
- Could use custom template ?
- Could create the OB

[2022-11-09 11:21] techcobweb opened #1262 "Galasactl tool to be able to retrieve results of a test run from the ecosystem"
## Story
As a galasa user running tests either locally or via automation, I want to use the command-line to get the results of a passed/failed test run, and see/explore the artifacts on my local system.

## Background
- If you kick off a test, you can't get the results back from an ecosystem without using eclipse currently.
- Eclipse gets the results by going directly to couchdb currently.
- We wo

[2022-11-09 13:25] Jimbo4794 commented on #1259
I dont have much detail interms of current blockers on preventing us from doing this work, but can give some detail on the current impl.

The purpose of the wrapping project is to take non-osgi bundled dependancies from maven central, and create an osgi bundle and corresponding manifest for the dependancy. This is required for the apache felix container we use to operator the galasa runtime. The c

[2022-11-09 13:27] Jimbo4794 commented on #1260
I think you have captured this quite well. As this was an a piece of work to enable the same features from the maven plugin inside the gradle plugin.

[2022-11-10 09:18] hobbit1983 commented on #1248
Is this code ready for review?

[2022-11-10 09:18] hobbit1983 commented on #1211
Is this now done - what needs to be reviewed before it can be moved to complete

[2022-11-10 09:22] techcobweb commented on #1240
Think we should separate out these items:

Then we can close this one out this iteration, and work on the 'swallower' next.
Thoughts @Jimbo4794  ?

[2022-11-10 09:22] hobbit1983 commented on #1244
@jadecarino can we update the tasks on this issue.  I know we have made progress in this area.

[2022-11-10 09:25] Jimbo4794 commented on #1240
Yeah i agree. The external webhook is a nice to have once we have the barebones in place

[2022-11-10 09:26] techcobweb commented on #1243
This should close out today.

[2022-11-10 09:28] techcobweb commented on #1247
Added to the sprint as thsi is what savvas is working on.

[2022-11-10 09:31] eamansour commented on #1248
Yep, will be opening another PR for a small 3270 manager documentation update now.

[2022-11-10 09:31] hobbit1983 commented on #1216
Hey @jadecarino is this now done?  If so can it be moved into the current sprint and closed?

[2022-11-10 09:38] hobbit1983 commented on #1242
This affects the Zos3270 INT test

[2022-11-10 09:45] techcobweb commented on #1151
@Jimbo4794 is this not done already ?

[2022-11-10 09:53] hobbit1983 commented on #1122
This might be a helpful link https://stackoverflow.com/questions/58836862/jdk-11-and-javadoc

[2022-11-10 09:59] hobbit1983 commented on #1147
@Jimbo4794 @jadecarino What does this work item encompass - and is it already done - or no longer needed

[2022-11-10 10:01] hobbit1983 commented on #1150
@jadecarino can we list as tasks the cron jobs that are still needed if this is not already complete

[2022-11-10 10:02] jadecarino commented on #1211
Aaron has created a galasabld image, I'd just like to run the OBR pipeline which uses it to confirm it does what it needs to

[2022-11-10 10:03] hobbit1983 commented on #1108
@jadecarino @AaronJhaj Is this not done?

[2022-11-10 10:03] hobbit1983 commented on #1108
@jadecarino @AaronJhaj Is this not done?

[2022-11-10 10:03] jadecarino commented on #1244
@hobbit1983 I'd argue this can be closed now, as all builds that we had running externally have now been migrated to the internal cluster. The only thing in that task list that hasn't been done is the secrets manager operator, but this work is not with us, its with Mike B.

[2022-11-10 10:04] techcobweb commented on #1113
@hobbit1983 says we can close this now.

[2022-11-10 10:04] #1113 closed

[2022-11-10 10:04] KirbyKatcher commented on #1247
Having investigated the issue and replicated it I have found the following piece of documentation on IBM J11 that has raised an interesting point.
[https://www.ibm.com/docs/en/semeru-runtime-ce-z/11?topic=security-jsse-provider-differences](https://www.ibm.com/docs/en/semeru-runtime-ce-z/11?topic=security-jsse-provider-differences)
`Protocol aliases SSL_TLS and SSL_TLSv2 are no longer supported in

[2022-11-10 10:05] #1216 closed

[2022-11-10 10:06] jadecarino commented on #1147
If we want the Core Build to essentially be what the 'complete build' was, we need the Eclipse and Isolated pipelines done, and a 'Core Build' PipelineRun set up to call the following pipelines in order: wrapping, gradle, maven, framework, extensions, managers, obr, eclipse, isolated

[2022-11-10 10:10] jadecarino commented on #1150
@hobbit1983 When James and I opened this item, I believe all we were going to include in this was: Regression Testing and Security Scanning.

I think we need to revisit how we'd like to approach the security scanning in terms of the programs I wrote earlier this year and if we still want a CronJob set up. That work item I was set did specify that we were going to set up a CronJob to run my scannin

[2022-11-10 10:11] #1195 closed

[2022-11-10 10:11] #1194 closed

[2022-11-10 10:11] #1217 closed

[2022-11-10 10:11] #1196 closed

[2022-11-10 10:11] #1215 closed

[2022-11-10 10:22] hobbit1983 opened #1263 "Allow PRs to show pending rather than errors when invoking the build."
## Story
As a Galasa developer I wish to get the feedback during PR processing that the build is pending, rather than an error response - So I know that things are progressing and I need to wait for the build

## Background
- Currently the web hook gets a 404 response as there is nothing to direct the web hook at
- @jadecarino knows similar code we have already, which should be easier than startin

[2022-11-10 10:25] techcobweb commented on #1240
Scope moved to story #1263 - Presumably we can close this now.

[2022-11-10 10:55] #1134 closed

[2022-11-10 10:55] techcobweb commented on #1184
Why do this ? Is it because we don't want to rely on Kaniko or trust that image ?
Story needs fleshing out with more detail...

[2022-11-10 10:57] jadecarino commented on #1244
@hobbit1983 Ignore previous comment - have discussed with James to convert these to use Helm chart so they can be used in releases.

[2022-11-10 17:39] #1211 closed

[2022-11-11 09:14] jadecarino opened #1264 "Trigger following main build pipelines after a main build"
### Story

As a Galasa developer, when I merge changes into a repository and the main build for that repository gets triggered, I want all builds that follow that repo in the chain to get triggered also, so that my changes are reflected in the artefacts used by the following repos.

I also want to have artefacts built against my branch, so I can run regression tests against my branch's OBR.

### B

[2022-11-11 10:16] techcobweb commented on #1264
Why do we have to do this ?
In other projects I've worked on which are multi-repo, the change would be built, but won't be 'adopted' by the overall packaging until you bump the dependencies on the later components. Then you have explicit control of what versions are picked up for everything, and you can re-create a build if necessary. Wondering what the differences are here. Maybe I just need it e

[2022-11-11 12:57] #1248 closed

[2022-11-11 13:14] #1197 closed

[2022-11-11 13:14] #1218 closed

[2022-11-11 15:59] #1243 closed

[2022-11-11 16:13] techcobweb opened #1265 "galasabld tool should be released once it is built."
## Story
As an extender of galasa code, I want to be able to download and install a released version of the `galasabld` tool so that I can use the `build-locally.sh` or similar instructions to build my own OBR locally, or within my own build pipeline.

## Background
- The `galasabld` is a go tool which is currently used to build the `OBR` project.
- It's not released, gets built by the build proce

[2022-11-11 16:13] techcobweb commented on #1265
This was raised after discussion with @Jimbo4794

[2022-11-11 16:21] techcobweb opened #1266 "build-locally.sh scripts should reference the external maven repo by default"
## Story
As a galasa developer I want to use the build-locally script such that by default it gets the very latest artifacts released on the galasa-dev site.

## Background
- The build-locally.sh script in several of the repos have a default value which can now be updated.
- The correct URL is obtained by looking at the argocd deployments.
- For example, for the OBR build-locally, it should be usi

[2022-11-11 16:59] jadecarino commented on #1264
Hi Mike, thanks for your comment, interesting to hear a different viewpoint. I have updated the story with more detail now, as I only opened the issue quickly on a call earlier, so I have a bit more of an explanation for which repos this applies to.

I believe we do this in development so that all components have the most up-to-date version of the previous components code. I suppose we do this bec

[2022-11-14 10:59] techcobweb commented on #988
@Jimbo4794 How do yo mean a protocol ? Do you have any examples of what's needed and where ?

[2022-11-14 11:02] #1244 closed

[2022-11-14 11:16] techcobweb commented on #1264
The CLI also depends on the framework currently.

[2022-11-14 11:44] techcobweb opened #1268 "Build pipelines all need to run unit tests as part of build process"
## Story
As a galasa developer I want any build process we use to run unit tests so that we get low-level testing by default on each build, and can be sure at least the unit tests pass before we merge a PR, and after it has been merged.

## Background
- The unit tests are/will/should be there in every component we build.
- Instead of a pipeline gradle command being just 'publish' we should be usin

[2022-11-14 13:06] techcobweb commented on #1240
Agreement in sprint kickoff mtg that this can be closed.

[2022-11-14 13:06] #1240 closed

[2022-11-14 13:56] techcobweb commented on #1088
Done already by Jade. :-)

[2022-11-14 13:56] #1088 closed

[2022-11-15 10:32] techcobweb opened #1269 "SEM manager should not be exposed publicly."
## Story
As a galasa user, I want the SEM manager removed from the open source offering, so that I don't see IBM-internal clutter I can't use and might confuse me.

As a CICS TS user, I want to be able to put my managers in a repository, such that they are built into an OBR

## Background
- SEM is a tool which is IBM-internal-use-only. Not shipped or used by customers.
- The SEM manager is part of

[2022-11-15 11:34] Jimbo4794 opened #1270 "Validate the technology stack for Galasa.dev"
## Story
As a galasa content developer I want to understand how the website is running, and understand the networking and SSL configuration, so that we are ensuring we are running the most appropiate stack.

## Background
The galasa.dev site is currently running using a code engine and a Cloud Internet services instance on IBM cloud. There appears to be lots of unusual activity and setup in place.

[2022-11-15 12:51] Jimbo4794 opened #1271 "Automate the cloud engine deployment of Galasa"
## Story
As a content developer, I want to push my changes to github, so that the changes can be built and validated automatically.

## Background
The old cloud foundry instances are still the automated process. We need to move that to code engines

## Tasks
- [x] Speak to James and understand the process for creating a new galasa.dev image and image recycling
- [x] Add process to write up of clou

[2022-11-15 15:54] techcobweb opened #1272 "Simbank example tests contain warnings"
## Story
As a new galasa developer using the Simbank examples to try my first test, I want the imported simbank tests and manager to contain no warnings when they are compiled.

## Background
[code]

## Tasks
- [ ] Remove or suppress the warnings in the SimBank code.

[2022-11-15 18:05] jadecarino commented on #1148
I have started on this as a) it's needed and b) I think the simplatform maven repo might need to be deployed for the Eclipse, Isolated and MVP builds to pull artifacts from.

[2022-11-15 18:17] jadecarino commented on #1148
Code pushed to simplatform branch and PR open so changes can be found easily: https://github.com/galasa-dev/automation/pull/89

[2022-11-16 16:53] jadecarino commented on #1148
For the purposes of the Eclipse and Isolated pipelines needing development.galasa.dev/main/maven-repo/simplatform, I have put together the Simplatform pipelines. The simplatform repo is now deployed. Still need to figure out what the simplatform application resources are for.

[2022-11-17 08:27] Rune-Christensen commented on #919
I would like to request that the docs be updated with this, as I have spent a lot of time trying to fix this in my eclipse installation.

[2022-11-17 09:27] hobbit1983 commented on #919
We will get this added. @CaroMac can you check the docs to see how clear this is and amend if possible?

[2022-11-17 09:46] CaroMac commented on #919
@hobbit1983 . Yes, I will do this. Thank you.

[2022-11-17 17:08] techcobweb commented on #1122
code/external/galasa-dev/build/docker/javadoc
![image.png](https://images.zenhubusercontent.com/63402c6f7f805e171c1684f1/a7b39a41-05c7-4b5f-b74c-36f65df1b621)
- The docker file builds an apache docker image to host the html
- The pom.xml pulls-in the javadoc jar artifact:
[code]

[2022-11-17 17:27] techcobweb commented on #1122
`./managers/galasa-managers-parent/galasa-uber-javadoc/pom.xml`
This pom appears to get all the classifier='sources' .jars on which the 'uber' jar depends.
[code]
- The sources are all unpacked into the 'sources' folder.
- The maven javadoc plugin then javadocs all the source in one go.
- `code/external/galasa-dev/managers/galasa-managers-parent/galasa-uber-javadoc/src/main/resources/Dockerfile` i

[2022-11-17 17:43] techcobweb commented on #1122
@Jimbo4794 tells me that that looks like an older mechanism which probably isn't used now.
As it's a maven file, and doesn't appear to be called from gradle... I would say it's not used.
Perhaps there is something which replaced it ? Perhaps that's the last time it worked, and javadoc
stopped working when the build switched to using gradle.

[2022-11-17 17:47] techcobweb commented on #1122
https://stackoverflow.com/questions/45997976/how-generate-javadoc-with-gradle This article seems to show how to run javadoc from a gradle build.

[2022-11-18 09:14] eamansour opened #1273 "Build pipelines need additional parameters to build from a branch other than main"
## Story
As a galasa developer, I want to specify a branch to build artefacts from in the build process, so that I can run regression tests on a branch other than main.

## Background
Currently, the build process only builds artefacts from main - there is no option to build from a different development branch. By parameterising the branch and `docker-build` task in the pipelines, builds will becom

[2022-11-19 20:42] hobbit1983 opened #1274 "Galasa unable to connect to a 3270 terminal using CICS TX on Cloud"
## Describe the bug
When the Zos3270 terminal is connected to a 3270 terminal exposed by a docker container of CICS TX on Cloud, Galasa fails to connect the terminal.  However the test does not fail but continues to execute even though the terminal is in a disconnected state

## Steps to reproduce
1. Launch a CICS TX on Cloud Container (I used 10.1) with the command `docker run --env LICENSE=accep

[2022-11-19 21:07] hobbit1983 commented on #1274
I've had a dig through the code and my initial thoughts is that TX wants the client to connect to it as a generic 3270 terminal, we check for two different devices types before running out of types.  Would probably need to run under debug mode to see what devices the server is offering and then add that as a low priority device type into the 3270 manager

[2022-11-21 08:59] #1273 closed

[2022-11-21 10:35] techcobweb commented on #1122
@jadecarino took this one over. I still don't understand how the galasa-dev site build  uses it. Need to ask @CaroMac

The build process stands up a deployment of a small maven repository with a version of the javadoc inside. I assume the galasa-dev site build picks this up and packages it in the web site ? If so, it will need to use the new URL at which the javadoc built html zip/jar is now locat

[2022-11-21 10:47] techcobweb opened #1275 "Galasa REST endpoints to be supportable"
## Goals
- To improve the REST api endpoints to a point where they can be properly supported,
and so they are fit for purpose to build-out the galasactl and web UI on.

Below is a list of issues encountered when I tried using the swagger UI to explore what endpoints there are so far.

## /cps/namespace fails when called from Swagger UI

- [ ] If you use curl, then it works OK. But if you use the s

[2022-11-21 12:42] jadecarino commented on #1264
Useful link: https://github.com/chmouel/tektoncd-cli/blob/main/docs/cmd/tkn_pipeline_start.md

[2022-11-21 16:59] jadecarino commented on #1264
Nearly there, but seems tkn does not recognise the kube cluster we are on (Error: Pipeline name branch-gradle does not exist in namespace galasa-build). Can configure by doing --kubeconfig and pass it a config file during the tkn command but unsure if thats the right thing to do.

[2022-11-22 09:04] techcobweb commented on #1274
Or add more logging so we can see what device types are available to use in that situation I guess...

[2022-11-22 09:15] techcobweb opened #1276 "CemtManagerSpi package is wrong"
## Story
As a galasa test developer I want ICemtManagerSpi to appear in the correct place in the package hierarchy such that it is more consistent with the other manager spi interfaces.

## Background
ICemtManagerSpi is in a package dev.galasa.cicsts.cemt.spi.spi all on it's own.

Seems it should be in dev.galasa.cicsts.cemt.spi (without the trailing .spi)

## Tasks
- [x] Move it to the correct pl

[2022-11-22 13:33] #1266 closed

[2022-11-22 13:51] techcobweb opened #1277 "javadoc best-so-far externally should not hard-link to javadoc.galasa.dev"
## Story
As a galasa developer I want to see javadoc for the latest builds of manager and framework on an external site, but separately from the javadoc.galasa.dev site, as I want to see important differences between the two, and view the latest which matches the 'next level' code.

## Background

- `javadoc.galasa.dev` is the 'production site'.
- We need new site to house the best-so-far content.

[2022-11-22 14:16] techcobweb commented on #1122
The build process creates 2 things:
- A maven site, hosting a zip file which contains the javadoc site. This maven site is hosted at https://development.galasa.dev/main/maven-repo/javadocs/
- A docker image of the javadoc site, in harbor. This is the image which needs to be hosted on javadoc.galasa.dev But should also be hosted elsewhere on a best-so-far basis.

[2022-11-22 14:18] techcobweb commented on #1250
These unit tests have currently been commented-out, so don't run even if gradle started invoking unit tests.
Part of this story is to get these tests going again, or decide that they are no longer needed.

[2022-11-22 14:53] techcobweb commented on #1122
@jadecarino Are you able to add a deployment which hosts the harbor image at https://harbor-cicsk8s.hursley.ibm.com/harbor/projects/10/repositories/galasa-javadocs/artifacts-tab and have the OBR build refresh it, so we can see the best-so-far javadoc whenever the OBR build runs ? Then I think we're done on this story.

[2022-11-22 15:20] techcobweb opened #1278 "SECURITY: Stop REST endpoints accessing credentials in the clear"
Using the REST api it is possible to get credentials out from the cps and dss components when they are deployed in non-secure arrangements (eg: Docker operator or non-separate etcd containers).

- [ ] Change the REST API to block calls which query CPS properties for these components.
  - Calls to set these properties are still valid, but the value should never flow back to the caller.
  - Until we

[2022-11-23 10:34] jadecarino commented on #1122
@techcobweb Hi Mike, sure I will take a look at this today

[2022-11-23 14:08] hobbit1983 commented on #1228
@Jimbo4794 is this what @eamansour is currently working on?

[2022-11-23 14:09] hobbit1983 commented on #1119
closing as a duplicate of #1112

[2022-11-23 14:33] hobbit1983 commented on #1276
might also affect the ceci package

[2022-11-23 14:36] AaronJhaj commented on #1184
I think this issue is out dated now as I believe we want to keep using the latest 'official' kaniko image rather than recreating our own.

[2022-11-23 16:23] techcobweb opened #1279 "Release a container image which has the galasactl tool installed, so it can easily be used in CI/CD pipelines"
## Story
As a CI/CD engineer, I want to use the galasactl tool packaged inside a container image to launch automated tests on my infrastructure, so I can do so without the hassle of installing the tool and having to build my own container image with it inside.

## Background
- The galasactl tool is expected to be used in CI/CD containers, so we should ship a docker/container image with it installe

[2022-11-23 16:27] techcobweb opened #1280 "spike: Understand how best to host web applications like galasa-dev in IBM cloud."
## Story
As a galasa dev engineer I want to understand how to use the available IBM cloud technology in the best way possible to host a web site such as galasa-dev.

## Background
- This is a spike story kulled from story #1270
- Perhaps would be good to talk to @ind1go and @Jimbo4794 or someone who may have already explored the technology stack available.
- The 'edge' functions are 'weird' ! << @

[2022-11-23 16:55] jasonrhughes opened #1281 "SSHClient messages 'closing SSH session' appearing throughout test run logs"
I'm seeing a number of the following message entries, e.g.,
`22/11/2022 16:51:09.517 DEBUG d.g.i.s.SSHClient - No command issued after 60000 milliseconds, closing SSH session `
in my test run logs, even though it all works and no commands are (knowingly) left hanging - all have responses.

Tests will typically issue many commands to both z/OS USS and Linux as they run through. These messages begin

[2022-11-23 22:31] hobbit1983 commented on #1281
Hi Jason,
So I've done some research on this.  Whenever a test runs a command it drives an underlying SSHClient connection.  The first time a connection is driven we store the constructed session object within a keep-Alive thread that runs and check periodically if that session has been used within the timeout value.  If it has then we cleanup the connection by disconnecting it.  If the SSHClient

[2022-11-23 22:32] hobbit1983 commented on #1281
@jasonrhughes interested to know your thoughts

[2022-11-23 22:55] hobbit1983 commented on #1276
This is done.  Just need to sort out my signing keys again so I can sign the commit and I will create a PR

[2022-11-23 22:57] hobbit1983 commented on #1276
@techcobweb happy for me to estimate this as a point or so - or would we prefer we do it at a meeting to get the shared understanding?

[2022-11-24 11:51] jadecarino commented on #1219
resources are deprecated so decided not to include this line in the new pipelines. I will investigate in future what this did but not a priority right now.

[2022-11-24 11:52] jadecarino commented on #1199
resources are deprecated so decided not to include this line in the new pipelines. I will investigate in future what this did but not a priority right now

[2022-11-24 11:52] #1199 closed

[2022-11-24 11:52] #1219 closed

[2022-11-24 12:04] jadecarino commented on #1264
Hoping to have this done today but getting an odd error: when I run tkn pipeline start branch-gradle it says 'branch-gradle does not exist on galasa-build', and when running tkn pipeline start --filename ...../gradle/build-branch.yaml, it says 'no such file or directory'.

[2022-11-24 12:06] jadecarino commented on #1148
Unfortunately I did not have time to investigate the Simplatform application and recreate the resources needed for it in this sprint. The maven repo is up and running though.

Due to our team discussions about how to proceed with the distribution of Simplatform, maybe it would be a good idea to double check that the remaining tasks on this work item are still correct? @techcobweb

[2022-11-24 12:06] jadecarino commented on #1198
Unfortunately we did not have time to start this, hopefully will be able to tackle next sprint.

[2022-11-24 12:08] jadecarino commented on #1233
Discussion with James yesterday: James does not think there will be any changes needed for the upgrade. I will confirm this and if so tick off the first task.

I think I should add a second task for the actual upgrade of the cluster that is done on IBM Cloud. Potentially to avoid disruption it would be a good idea to do this next sprint, on an agreed date?

[2022-11-24 12:09] jadecarino commented on #1200
Pipelines have been set up - getting a 504 timeout when pushing a large image to harbor. Potentially need to add a header to the ingresses to allow this, then this should be done.

[2022-11-24 12:09] jadecarino commented on #1220
Pipelines have been set up - getting a 504 timeout when pushing a large image to harbor. Potentially need to add a header to the ingresses to allow this, then this should be done.

[2022-11-24 12:24] jasonrhughes commented on #1281
Many thanks for looking into this, Will.
I think anything that makes it less prominent (so a new user is less likely to think they may have done something wrong) would be really good. Either of your suggestions would be fine, or perhaps a combination of both? ;)
(Perhaps a slight variation on your re-wording, along the lines of:
"SSH session unused for 60000 milliseconds, disconnecting now to free

[2022-11-24 12:57] techcobweb commented on #1122
Terriffic work @jadecarino Great to see the javadoc site working again and visible for latest build pipeline.
Closing this as all items are now complete. Pls re-open if you disagree...

[2022-11-24 12:57] #1122 closed

[2022-11-24 14:40] hobbit1983 commented on #1276
Configured my gpg keys and pushed - some copyright failures I need to fix and then this can go to review

[2022-11-24 14:48] #1073 closed

[2022-11-24 15:02] hobbit1983 commented on #1276
@techcobweb can you review https://github.com/galasa-dev/managers/pull/827 please

[2022-11-24 21:08] jadecarino commented on #1264
Unfortunately, I didn't manage to get this done this sprint. If anyone plans to continue tomorrow:
- [ ] A config file needs to be made for the galasa-build-bot service account (Useful link on how to do this: https://www.ibm.com/docs/en/cloud-paks/cp-management/2.0.0?topic=kubectl-using-service-account-tokens-connect-api-server)
- [ ] The config file **cannot** be checked into Github as it contain

[2022-11-25 09:14] techcobweb commented on #1264
You can create a sealed secret in Kube, essentially getting Kube to sign the secret, and that sealed secret can be checked-in to public git and deployed with ArgoCD as a regular kube resource. Is that the sort of thing you need here ?

Article on creating them here: https://medium.com/codex/sealed-secrets-for-kubernetes-722d643eb658

[2022-11-25 09:50] hobbit1983 commented on #1281
Fixed by https://github.com/galasa-dev/managers/pull/829

[2022-11-25 09:51] #1276 closed

[2022-11-28 09:43] AaronJhaj commented on #1200
changed all pushes to --no-push for this pr build, only pushing to icr on the main build for isolated. This may change in future.

[2022-11-28 09:44] #1200 closed

[2022-11-28 11:13] techcobweb opened #1282 "Stop using SEM to provision. Use an alternative."
## Story
As a galasa tester I want the galasa tests to stop using the SEM infrastructure, and use an alternative instead, so that my tests use a fully supported way of provisioning my CICS regions.

## Background
SEM is proprietary. We would like to replace that with a publically-available mechanism for provisioning.
- Ansible may work.
- Containerisation with CICS resource manager might work.

[2022-11-28 11:26] jadecarino commented on #1108
@hobbit1983 Apologies Will I have only just seen your comment above. Yes I'd class this as done, we have created generic tasks for everything we need, and I have documented them all on the automation repo, so closing this issue.

[2022-11-28 11:26] #1108 closed

[2022-11-28 11:28] jadecarino commented on #1111
@hobbit1983 Hi Will, just clearing up/clarifying the Secure Foundations issues, by this did you mean the way in which we send a status/comment back to pull requests from builds?

[2022-11-28 11:28] jadecarino commented on #1112
@hobbit1983 Hi Will, is this issue referring to the release process for a 0.xx.0 version of Galasa?

[2022-11-28 11:29] hobbit1983 commented on #1112
Yes - we were going to ask you to do a release of Galasa so that you could then document it

[2022-11-28 13:18] techcobweb commented on #1280
@KirbyKatcher perhaps this is something you can look at with help from @Jimbo4794 and @hobbit1983 ?

[2022-11-28 13:43] #1148 closed

[2022-11-28 13:45] jadecarino opened #1283 "Set up Simplatform application"
## Story
As a Galasa user, I want to be able to run galasa example tests against a simbank application running on a deployed kubernetes cluster, so I can test that I am able to reach my ecosystem with Galasa and everything is working OK.

## Tasks
- [x] Create the resources needed for the Simplatform application (old versions here https://github.com/galasa-dev/simplatform/tree/main/argocd/applicat

[2022-11-28 14:38] #1228 closed

[2022-11-28 16:35] hobbit1983 commented on #1091
Everything compiles with okhttp 4.10 but I did have to remove the include on okio which I believe is now included as a transitive dependency.  Running the Selenium manager at the new level will assure that

[2022-11-28 16:57] #1281 closed

[2022-11-28 17:02] hobbit1983 opened #1284 "Re-instate the CECI Manager Unit Tests"
## Story
As a Galasa developer, I want to have the CECI Manager unit tests working, so that quickly test changes to that code base.

## Background
This uses power mock and mockito which in later release don't always play together nicely.  Some of the function used from power mock is now available in mockito and we should be able to remove all the power mock code from the test

## Tasks
- [x] remov

[2022-11-28 17:11] jadecarino opened #1285 "Intermittent failure: Regression testing gets stuck if a single test is itself stuck"
## Describe the bug
Galasa's regression test suite is run using a CronJob that is set up on our internal Kubernetes cluster. This uses galasactl to get the test portfolio, and then submits those tests to the ecosystem. Once **all** of the tests have finished, then using a galasabld command, the results are sent to our Slack channel galasa-devs. Finally, the Job ends and the pods shut down.

I have

[2022-11-28 18:03] #1284 closed

[2022-11-29 10:19] eamansour commented on #1092
Updated `io.kubernetes:client-java` to 16.0.2. While this update does remove CVE-2021-0341 and several other vulnerabilities, at the time of writing, two vulnerabilities (CVE-2022-41854 and CVE-2022-3171) have been discovered in 16.0.2's dependencies and there are no prior versions that are vulnerability-free.

This will need to be revisited in the future once new versions are released for the Cli

[2022-11-29 10:25] #1220 closed

[2022-11-29 10:38] eamansour opened #1286 "Automate the branch-level regression testing process"
## Story
As a galasa developer, I want to automate the branch-level regression testing process, so that I can simplify and speed up the process for other developers.

## Background
Currently, several manual steps need to be completed in order to run regression tests against branch builds. These include running branch-level build pipelines, creating an argocd app that deploys the built artifacts, r

[2022-11-29 10:51] eamansour opened #1287 "Remediate vulnerabilities found in io.kubernetes:client-java:16.0.2 - CVE-2022-41854 (Moderate) and CVE-2022-3171 (Moderate/High)"
## Story
As a galasa developer, I want to remove vulnerabilities from the kubernetes manager, so that galasa is more secure.

## Background
`dev.galasa.kubernetes.manager` contains CVE-2022-41854 (moderate) and CVE-2022-3171 (moderate/high) through `io.kubernetes:client-java:16.0.2`, which is indirectly through `com.google.protobuf:protobuf-java:3.21.2` and `org.yaml:snakeyaml:1.33`. Once a newer

[2022-11-29 10:52] eamansour commented on #1287
This is currently blocked as `io.kubernetes:client-java` has been updated to the latest version at the time of writing, and there are no other versions that are vulnerability-free.

[2022-11-29 10:53] #1092 closed

[2022-11-29 13:14] hobbit1983 commented on #1091
code pushed to branch iss1091

[2022-11-30 07:12] JeevanNaikOP opened #1288 "Unable to type as keyboard is locked"
## Steps to reproduce
1. while using VTP to test CICS  screen, VTP manager and CICSTS manager creates terminal named <CICSTS$$>_1 and <CICSTS$$>_2.
2. <CICSTS$$>_2 starts right after clearing CICS welcome screen from  <CICSTS$$>_1, but keyboard of <CICSTS$$>_2 is  locked at that time.
3. VTP manager tries to type BZUT <transaction name> in <CICSTS$$>_2, which will throw KeyboardLockedException wit

[2022-11-30 14:47] #1233 closed

[2022-11-30 15:39] techcobweb opened #1289 "REST interface getProperty(...) gets wrong key with the right value."
## Symptom
There is a bug in the AccessCps code such that when you ask the rest interface for a property, it returns
a key-value pair such that the value is actually what you wanted to look up, but the key is incorrect.

## Background
This bug was found by inspection, while writing unit tests.
No evidence on whether this bug has broken anything is available.

## Worked example
So if you have the f